# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# 虚拟环境
venv/
ENV/
.env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# 编辑器
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# 操作系统
.DS_Store
Thumbs.db

# 日志
*.log

# 其他
*.bak
*.swp

# 忽略 CORS 目录下的虚拟环境
basic_language/componse/CORS/code/venv/ 